{% macro clock() %}
    <!-- source: https://www.svgrepo.com/show/513817/clock.svg -->
    <i class="icon-default icon">
        <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <g>
                <g>
                    <g>
                        <polyline fill="none" points="11.9 5.9 11.9 11.9 12 12 14.1 14.1" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
                        <circle cx="12" cy="12" fill="none" r="10" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
                    </g>
                </g>
            </g>
        </svg>
    </i>
{% endmacro %}