<!DOCTYPE html>
<html lang="{% block html_lang %}{{ DEFAULT_LANG }}{% endblock html_lang %}">
    <head>
        <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/theme/css/common.css">
        {% block page_styles %}{% endblock page_styles %}
    </head>
    <body>
        <header id="body-header">
            <h1>
                <a href="/">{{ SITENAME }}</a>
            </h1>
        </header>
        <main>
            {% block content %}
            {% endblock content %}
        </main>
        {% block page_scripts %}{% endblock page_scripts %}
    </body>
</html>