<!DOCTYPE html>
<html lang="{% block html_lang %}{{ DEFAULT_LANG }}{% endblock html_lang %}">
    <head>
        <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% assets filters="libsass", output="css/common.css", "css/common.scss" %}
            <link rel="stylesheet" href="/{{ASSET_URL}}">
        {% endassets %}
        <link rel="icon" type="mage/x-png" href="/{{THEME_STATIC_DIR}}/images/favicon.png">
        {% block page_styles %}{% endblock page_styles %}
    </head>
    <body>
        <header class="body-header">
            <a href="/">
                <img class="body-header__logo" alt="mad coders page logo" src="/{{THEME_STATIC_DIR}}/images/logo-black.png" />
            </a>
        </header>
        <main class="main-content">
            {% block content %}
            {% endblock content %}
        </main>
        {% block page_scripts %}{% endblock page_scripts %}
    </body>
</html>