{% extends "base.html" %}
{% import "_macros.html" as components %}
{% block content %}
    <section>
        <h2>All articles</h2>
        <ul>
            {% for article in articles_page.object_list %}
                <li>
                    <article>
                        <header>
                            <h3>
                                <a href="{{ ARTICLE_OUTPUT_PATH }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a>
                            </h3> 
                            {{ components.localizeTimestamp(article) }}
                        </header>
                        <div>{{ article.summary }}</div>
                    </article>
                </li>
            {% endfor %}
        </ul>
    </section>
{% endblock content %}