.main-header {
    &__logo {
        width: 250px;
        margin: 8px;
    }
}

.main-content {
    width: 80vw;
    align-self: center;
}

@media print {
    .body-header {
        &__logo {
            margin: 0;
        }
    }

    .main-content {
        width: 100%;
    }
}