@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/firacode/6.2.0/fira_code.min.css");

// * {
//     border: 1px solid purple;
// }

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

*:not(code) {
    font-family: Montserrat, Arial, Helvetica, sans-serif;
}

code {
    font-family: "Fira Code", monospace !important;
    font-size: 0.8em;
}

.hidden {
    display: none;
}

.icon-default{
    svg{
        stroke: black;
    }
}

@page {
    size: letter;
    margin: 12mm;
}